h1{
    color:coral;
    font-size:larger;
    background-color:aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color:rgb(255, 80, 200);
    font-size:larger;
    background-color:rgb(127, 127, 255);
    font-family: Arial, Helvetica, sans-serif;
} 